.dropdown{
    width: 200px;
    height: 30px;
    background-color: blue;
    /* border: 1px solid black; */
    /* padding-left: 4px; */
    text-align: center;
}

.dropdown:hover .dropdown-container{
    display: block;
    background-color: yellow;
}


.dropdown-container{
    display: none;
    /* position: absolute; */
}

.item{
    /* border: 1px solid black; */
    /* width: 200px; */
    padding: 8px;
}

button{
    width: 200px;
    border:none;
    padding-top:8px;
    padding-bottom: 8px;
    background-color: blueviolet;
}



.item:hover{
    background-color: black;
    cursor: pointer;
    color: white;
}